.portfolio_container {
  margin: clamp(4rem, 5vw, 10rem);

  display: flex;
  flex-direction: column;
  gap: 5rem;

  .card_list_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(2rem, 2vw, 5rem);
  }
}

@media only screen and (max-width: 55rem) {
  .portfolio_container {
    align-items: center;
  }
}
