.home_container {
  margin: clamp(4rem, 5vw, 10rem);
  min-height: calc(100vh - (clamp(4rem, 5vw, 10rem) * 2));
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  .side_a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;

    h1 {
      font-size: clamp(2.2rem, calc(2.2vw + 1rem), 4rem);
    }

    p {
      font-size: clamp(1.4rem, calc(1.4vw + 1rem), 1.8rem);
      max-width: 50ch;
      text-align: justify;
    }

    a {
      all: unset;
    }
  }

  .side_b {
    justify-self: center;
    align-self: center;

    .img_container {
      max-width: 40rem;

      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      border-radius: 2rem;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}

@media only screen and (max-width: 55rem) {
  .home_container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    .side_a {
      gap: 2rem;
      align-items: center;
      text-align: center;

      .button_container {
        width: 100%;

        button {
          width: 80%;
        }
      }
    }
  }
}

@media only screen and (max-width: 33rem) {
  .home_container {
    .side_b {
      .img_container {
        max-width: 22rem;
      }
    }
  }
}
