button {
  all: unset;
  cursor: pointer;

  padding: 1rem 2rem;

  border: 0.1rem solid var(--primary_color);
  border-radius: 1rem;

  background-color: var(--primary_color_transparent);

  font-size: clamp(1.4rem, calc(1.4vw + 1rem), 1.8rem);
}
