.card_skill_container {
  padding: 2rem;
  width: 23rem;
  height: 33rem;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: 25% 1fr;

  border: solid 0.01rem var(--primary_color);
  background-color: var(--secondary_color);

  .icon_container {
    justify-self: center;

    width: 5rem;
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 0.01rem var(--primary_color);
    border-radius: 2rem;
    background-color: var(--primary_color_transparent);

    svg {
      width: 3.2rem;
      height: 3.2rem;

      path {
        stroke: var(--font_color);
      }
    }
  }

  .text_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h3 {
      font-size: 2rem;
      text-align: center;
      color: var(--primary_color);
    }

    p {
      max-width: 30ch;

      font-size: 1.5rem;
      text-align: justify;
    }
  }
}
