.about_container {
  margin: clamp(4rem, 5vw, 10rem);
  min-height: calc(100vh - (clamp(4rem, 5vw, 10rem) * 2));

  display: flex;
  flex-direction: column;
  gap: 5rem;

  .side_a {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .text_container {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      h3 {
        font-size: clamp(2rem, calc(2vw + 1rem), 3rem);
      }

      p {
        max-width: 80ch;
        font-size: clamp(1.4rem, calc(1.4vw + 1rem), 1.8rem);
      }
    }

    .data_container {
      max-width: 90ch;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0rem clamp(2rem, 2vw, 5rem);

      font-size: clamp(1.2rem, calc(1.2vw + 1rem), 1.6rem);
    }
  }

  .side_b {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    gap: clamp(5rem, 5vw, 10rem);

    h3 {
      font-size: clamp(2rem, calc(2vw + 1rem), 3rem);
    }

    .education_container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .experience_container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .card_history_container {
      padding: 2rem;
      max-width: 46rem;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      border-radius: 2rem;

      border: solid 0.01rem var(--primary_color);
      background-color: var(--secondary_color);

      .card_history_list {
        position: relative;
        padding-left: 2rem;

        display: flex;
        flex-direction: column;
        gap: 4rem;
      }

      .card_history_list::before {
        content: "";
        position: absolute;
        left: 0;
        top: 1rem;
        height: calc(100% - 1rem);
        width: 0.2rem;
        background-color: var(--primary_color);
      }
    }
  }

  a {
    all: unset;
  }
}

@media only screen and (max-width: 55rem) {
  .about_container {
    align-items: center;
    text-align: center;

    .side_a {
      .text_container {
        align-items: center;
        h3 {
          width: 80%;
        }
        p {
          width: 80%;
        }
      }
      .data_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
    }

    .side_b {
      grid-template-columns: 1fr;

      .education_container {
        align-items: center;
      }

      .experience_container {
        align-items: center;
      }
    }

    .button_container {
      width: 100%;

      button {
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 33rem) {
  .about_container {
    .side_b {
      .history_card_container {
        max-width: 28rem;
      }
    }
  }
}
