.contact_container {
  margin: clamp(4rem, 5vw, 10rem);
  min-height: calc(100vh - (clamp(4rem, 5vw, 10rem) * 2));

  display: flex;
  flex-direction: column;
  gap: 5rem;

  .content_container {
    width: 100%;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;

    .side_a {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      text-align: center;

      h3 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.8rem;
      }
    }

    .side_b {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10rem;

      .contact_channel_row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
      }
    }

    .side_c {
      flex-grow: 1;
      display: flex;
      align-items: end;

      font-size: 1.4rem;

      p {
        a {
          all: unset;
          color: var(--primary_color);
        }

        a:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 55rem) {
  .contact_container {
    align-items: center;

    .content_container {
      .side_b {
        .contact_channel_row {
          grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        }
      }
    }
  }
}

@media only screen and (max-width: 33rem) {
  .contact_container {
    .content_container {
      .side_b {
        gap: 5rem;
        .contact_channel_row {
          display: flex;
          flex-direction: column;
          gap: 5rem;
        }
      }
    }
  }
}
