nav {
  width: 30rem;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-right: 0.01rem solid var(--primary_color);

  background-color: var(--secondary_color);

  .logo_container {
    padding-top: 5rem;

    font-size: 2rem;
  }

  .nav_list {
    flex-grow: 1;
    padding-bottom: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    .list_element {
      padding: 0rem 1rem;
      padding-bottom: 1rem;

      display: flex;
      align-items: center;
      gap: 1rem;

      border-bottom: 0.01rem solid var(--primary_color);

      svg {
        height: 2.5rem;
        width: auto;
      }

      p {
        font-size: 1.8rem;
      }
    }

    p:hover {
      cursor: pointer;
    }
  }
}
