.skills_container {
  margin: clamp(4rem, 5vw, 10rem);

  display: flex;
  flex-direction: column;
  gap: 5rem;

  .title_container {
    position: relative;

    h2 {
      font-size: clamp(2.2rem, calc(2.2vw + 1rem), 4rem);
    }

    h2::before {
      position: absolute;
      display: block;
      content: "";

      bottom: 0;
      width: 2ch;
      height: 0.4rem;
      border-radius: 2rem;
      background-color: var(--primary_color);
    }

    h2::after {
      position: absolute;
      display: block;
      content: "";

      bottom: -1rem;
      width: 1ch;
      height: 0.4rem;
      border-radius: 2rem;
      background-color: var(--primary_color);
    }
  }

  .side_b {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(2rem, 2vw, 5rem);
  }
}

@media only screen and (max-width: 55rem) {
  .skills_container {
    align-items: center;

    .title_container {
      h2 {
        text-align: center;
      }

      h2::before {
        left: 50%;
        transform: translateX(-50%);
      }

      h2::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
