.card_history_block {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  text-align: left;

  .date_container {
    display: flex;
    align-items: center;

    svg {
      width: 2rem;
      height: 2rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  h4 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.4rem;
  }
}

.card_history_block::before {
  position: absolute;
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--primary_color);
  border-radius: 100%;

  transform: translate(-2.7rem, 0.2rem);
}
